# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Kubernetes
kubeconfig

# IDE
.vscode/
.idea/

# Logs
*.log

# Temporary files
tmp/
temp/

# Secrets
*.pem
*.key
*.crt
*.p12
*.kubeconfig

# Environment
.env
.env.*

# Backup files
*.bak